@charset "utf-8";
/* CSS Document */

.G2c1 {
  .Win1 {
    width: calc(100% - 272px);
  }
  .Win1cube {
    width: calc(100% - 272px);
  }
  .RightSideArea {
    width: 272px;
    .Cube {
      width: 100%;
    }
  }
  
  .Search_content_div{
    width: calc(100% - 272px);
  }
}