
/* SettingsBar styles */

.settingsBar {
  position: fixed;
    height: 35px;
    top: 475px;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    padding: 0 10px;
    z-index: 999;
    /* border-bottom: solid;*/
	

  button {
    width: 70px;
    margin-top: 3px;
    height: 30px;
    background: #3d3d3d;
    color: grey;
    margin-left: 15px;
  }

  button.selected {
    color: white;
    border: 2px solid white;
  }

  span {
     color: white;
    line-height: 25px;
    vertical-align: middle;
    /* font-size: 14px; */
  }

  label {
    color: white;
  }

  .narrow-menu, .medium-menu {
    display: none;
  }
  .thumb{
    margin: auto;
    margin-left: 20%;
    display: inherit;
    img{
      
        &.settingsImageBtn{
          &.dd_btn{opacity: 0.2}
        }
    }
    img:hover{
      
      &.settingsImageBtn{
        &.dd_btn{opacity: 1}
      }
  }
  }
  .desktop-menu {
    display: block;
    margin-right: -85px;
    span{
      opacity: 0.2;
      img{
        width: 10%;
        vertical-align: text-top;
       
      }
      
    }
    span:hover{
      opacity: 1;
    }
  }

  .settingsImageBtn {
    height: 35px;
    width: 35px;
  }

  .dropdown{
    display: inline-block;
    position: relative;
    height: 40px;
  }

  .dropdownbuttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90px;
    left: 0;
    margin : 0;
    button {
      margin : 0;
    }
    display: none;

    label {
      height: 30px;
      background: #a9a4a4;
      color: #060606;
      width: 80px;
      text-align: center;
      margin: 0;
      padding-top: 5px;
      display: none;
    }
  }

  .imagedropdownbuttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35px;
    left: 0;
    margin : 0;
    button {
      margin : 0;
    }
    display: none;
  }

  
  .dropdown{
    &.show1{
      .imagedropdownbuttons{
        display: flex;
        top: -261%;
    
      }
    }
  }
  .dropdown{
    &.show2{
      .imagedropdownbuttons{
        display: flex;
        top: -261%;
      }
    }
  }
  .dropdown:hover .dropdownbuttons{
    display: flex;
  }
  .imagedropdownbuttons.hide {
    top: -261%;
  }
}

.settingsBar.hide {
  top: calc(100% - 35px);
}

.settingsBar.short {
  top: calc(100% - 35px);
}
// .settingsBar.short {
//   top: calc(75% - 35px);
// }

.settingsBar.medium {
  top: calc(100% - 35px);
}
// .settingsBar.medium {
//   top: calc(50% - 35px);
// }

.settingsBar.tall {
  top: calc(25% - 35px);
}

.settingsBar.full {
  top: calc(100% - 35px);
}
// .settingsBar.full {
//   top: calc(10% - 35px);
// }

.chat-help {
  background-color: #ffd733 !important;
  width: 100px !important;
  opacity: 0.2;
}
.chat-help:hover{
  opacity: 1;
}
  
@media (max-width: 1260px) {
  

  .settingsBar {
    margin-left: 0%;
    .desktop-menu {
      display: none;
    }
  
    .medium-menu{
      margin-right: -260px;
          display: block;
    span{
      opacity: 0.2;
      img{
        width: 10%;
        vertical-align: text-top;
       
      }
      
    }
    span:hover{
      opacity: 1;
    }
  
  }

  
  }
}

@media (max-width: 750px) {
  
  .settingsBar {
    .thumb {
      margin-left: 0px;
    }
    .medium-menu {
      display: none;
    }
    .narrow-menu {
      display: block;
      button {
        width: 80px;
      }
    }
    label {
      display: none;
    }
    .dropdownbuttons{
      label {
        display: block;
      }
    }

    .dropdownbuttons.hide {
      top: -185%;
    }
    // .medium-menu.five-items .dropdownbuttons.hide {
    //   top: -220%;
    // }
  }
}