section{
    padding-top: 5%;
    padding-bottom: 5%;
}
p{
        font-size: medium;
        font-family: 'Karla';
        margin: auto;
        line-height: initial;
}

h2{
    margin-bottom: 2%;
    margin-top: 2%;
}